{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Welcome</h1>

    {% if app.user %}
        <p>
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    </p>
    {% endif %}

    <p>
        <a href="{{ path('app_register') }}">Register</a>
        <a href="{{ path('app_login') }}">Login</a>
    </p>

{% endblock %}
